:root {
  --basic-black: #000000;
  --light-black: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --white-footer: rgba(255, 255, 255, 0.9);
  --blue-social-hover: #669ec0;
  --blue-social-focus: #5496bd;
  --black-copyright: #231f20;
  --gray-copyright-focus: #bdbbbc;
  --gray-rating: #666666;
  --light-gray: #f2f2f2;
  --brown-hover: #604e43;
  --brown-focus: #503e33;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.features ul {
  list-style: none;
}

.features h1 {
  line-height: 26px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.features-item p {
  font-weight: 400;
  font-size: 14px;
  color: var(--light-black);
}

.features-item-blue,
.features-item-blue p {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-item-gray {
  background-color: var(--basic-gray);
}

.interested {
  /* в фигме визуально разный размер и толщина, но их нельзя посмотреть отдельно */
  font-size: 30px;
  line-height: 24px;
}

.footer {
  background-color: var(--white-footer);
}

.footer-contacts {
  line-height: 26px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--basic-blue);
}

.social-button:hover {
  color: var(--blue-social-hover);
}

.social-button:focus {
  color: var(--blue-social-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-copyright {
  color: var(--black-copyright);
}

.footer-copyright a:hover {
  color: var(--basic-blue);
}

.footer-copyright a:focus {
  color: var(--gray-copyright-focus);
}

/* страница hotels */

.current-page a {
  color: var(--basic-brown);
}

.sorted-list {
  list-style: none;
}

h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

h3 a {
  color: var(--basic-black);
}

h3 a:hover {
  color: var(--basic-blue);
}

h3 a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sorted-item {
  font-weight: 400;
  font-size: 14px;
}

.sorted-item-info {
  color: var(--light-black);
}

.sorted-item-details {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.sorted-item-details:hover {
  background-color: var(--blue-social-hover);
}

.sorted-item-details:focus {
  background-color: var(--blue-social-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sorted-item-to-book {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.sorted-item-to-book:hover {
  background-color: var(--brown-hover);
}

.sorted-item-to-book:focus {
  background-color: var(--brown-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sorted-item-rate {
  color: var(--gray-rating);
  background-color: var(--light-gray);
}
