:root {
  --basic-black: #000000;
  --light-black: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-silver: #eeeeee;
  --basic-brown: #766357;
  --basic-footer: rgba(255, 255, 255, 0.9);
  --social-hover: #669ec0;
  --social-focus: #5496bd;
  --copyright: #231f20;
  --copyright-focus: #bdbbbc;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.features ul {
  list-style: none;
}

.features h1 {
  line-height: 26px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.features-blue-background {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-blue-background p {
  font-weight: 400;
  font-size: 14px;
}

.features-white-background p {
  font-weight: 400;
  font-size: 14px;
  color: var(--light-black);
}

.features-silver-background {
  background-color: var(--basic-silver);
}

.features-silver-background p {
  font-weight: 400;
  font-size: 14px;
  color: var(--light-black);
}

.interested {
  /* в фигме визуально разный размер и толщина, но их нельзя посмотреть отдельно */
  font-size: 30px;
  line-height: 24px;
}

.footer {
  background-color: var(--basic-footer);
}

.footer-contacts {
  line-height: 26px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--basic-blue);
}

.social-button:hover {
  color: var(--social-hover);
}

.social-button:focus {
  color: var(--social-focus);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.footer-copyright {
  color: var(--copyright);
}

.footer-copyright a:hover {
  color: var(--basic-blue);
}

.footer-copyright a:focus {
  color: var(--copyright-focus);
}
