:root {
  --basic-black: #000000;
  --light-black: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --white-footer: rgba(255, 255, 255, 0.9);
  --blue-social-hover: #669ec0;
  --blue-social-focus: #5496bd;
  --black-copyright: #231f20;
  --gray-copyright-focus: #bdbbbc;
  --gray-rating: #666666;
  --light-gray: #f2f2f2;
  --brown-hover: #604e43;
  --brown-focus: #503e33;
  --gray-toggle: #ababab;
  --disabled-gray: #6A6A6A;
  --border-bottom-gray: #E5E5E5;
  --button-gray: #A9A9A9;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px 5px var(--gray-copyright-focus);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: var(--light-gray);
  background-size: 1280px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr 120px;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.main-header {
  position: relative;
}

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-image {
  position: relative;
  width: 1200px;
  height: 509px;
  background-image: url("../img/main-background-photo.jpg");
  background-color: var(--basic-brown);
}

.main-image img {
  padding-top: 76px;
}

.main-image::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../img/bottom-lines.svg");
  left: 0;
  bottom: 0;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 15px 0;
}

.site-navigation li {
  box-sizing: border-box;
  width: 300px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:first-child {
  padding-left: 72px;
}

.site-navigation li:last-child {
  padding-right: 72px;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-welcome-text {
  padding: 0 300px;
  padding-top: 27px;
  padding-bottom: 40px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  padding-top: 28px;
}

.features h1 {
  line-height: 26px;
  font-size: 21px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.features-list h3 {
  padding: 0 120px;
  font-size: 21px;
}

.features-item-blue-description {
  width: 400px;
}

.features-item-blue-description p {
  padding: 0 40px;
}

.features-item-blue-right-img-description {
  padding-top: 25px;
}

.features-item-blue-right-img-description p:nth-child(2) {
  padding-top: 5px;
}

.features-item-blue-right-img-description p:last-child {
  padding-top: 10px;
}

.features-item-blue-left-img-description h3 {
  padding-top: 29px;
}

.features-item-blue-left-img-description p:nth-child(2) {
  padding-top: 5px;
}

.features-item-blue-left-img-description p:last-child {
  padding-top: 10px;
}

.features-item-gray {
  width: 400px;
  flex-grow: 1;
  padding-top: 26px;
  padding-bottom: 40px;
  background-color: var(--basic-gray);
}

.features-item-gray p:nth-child(2) {
  padding-top: 6px;
}

.features-item-gray p:last-child {
  padding-top: 10px;
}

.features-item-gray p {
  padding: 0 65px;
}

.features-item p {
  font-weight: 400;
  font-size: 14px;
  color: var(--light-black);
}

.features-item-blue,
.features-item-blue p {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-item-blue-right-img,
.features-item-blue-left-img {
  display: flex;
  flex-wrap: wrap;
}

.features-item-blue-right-img-list {
  display: flex;
  min-height: 256px;
}

.features-item-white-list {
  display: flex;
}

.features-item-white {
  position: relative;
  padding-top: 137px;
  padding-bottom: 70px;
  width: 400px;
  flex-grow: 1;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.features-item-white p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  color: var(--light-black);
  background-color: var(--basic-white);
}

.features-item-white::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.features-item-white-housing::before {
  width: 75px;
  height: 72px;
  top: 60px;
  background-image: url("../img/icon-1.svg");
}

.features-item-white-food::before {
  width: 75px;
  height: 70px;
  top: 60px;
  background-image: url("../img/icon-2.svg");
}

.features-item-white-souvenirs::before {
  width: 64px;
  height: 77px;
  top: 55px;
  background-image: url("../img/icon-3.svg");
}

.interested {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--light-black);
}

.interested h2 {
  font-size: 30px;
  padding-top: 31px;
}

.interested p {
  padding-top: 7px;
}

.interested-search-button {
  box-sizing: border-box;
  width: 568px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 30px 0;
  margin-top: 29px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.interested-search-button:hover {
  background-color: var(--brown-hover);
}

.interested-search-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--brown-focus);
}

.map {
  position: relative;
  width: 1199px;
  height: 473px;
  background-color: lightgreen;
}

.map iframe {
  border: none;
}
  
.hotel-search {
  box-sizing: border-box;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  width: 568px;
  top: 0;
  left: 316px; /* если поставить выравнивае по центру через left: 50% и translateX, то почему-то появляется сбоку */
  padding: 55px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.hotel-search-hide {
  display: none;
}

.hotel-search-show {
  display: block;
  animation: bounce 1s;
}

.hotel-search-error {
  animation: shake 0.6s;
}

.hotel-search input[type=text] {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  border: none;
  padding: 6px 0;
  padding-right: 9px;
  padding-left: 12px;
  background-color: var(--light-gray);
}

.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.date-input {
  width: 346px;
  height: 38px;
  text-transform: uppercase;
}

.arrival-date,
.departure-date {
  position: relative;
}

.calendar-button {
  position: absolute;
  width: 21px;
  height: 23px;
  border: none;
  right: 8px;
  background-image: url(../img/calendar.svg);
}

.departure-date {
  margin-top: 29px;
}

.passengers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.passengers-type {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.passengers-type input {
  text-align: center;
  width: 114px;
  height: 38px;
}

.childs label {
  margin-right: 27px;
}

.adults,
.childs {
  position: relative;
}

.adults label {
  margin-right: 40px;
}

.amount-button {
  position: absolute;
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
}

.adults .less {
  left: 110px;
}

.childs .less {
  left: 65px;
}

.passengers-type .more {
  right: 0;
}

.passengers-type .more::before,
.passengers-type .more::after,
.passengers-type .less::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  background-color: var(--button-gray);
} 

.passengers-type .less::before {
  left: 13px;
}

.passengers-type .more::before,
.passengers-type .more::after {
  right: 13px;
} 

.passengers-type .more::after {
  transform: rotate(-90deg);
} 

.hotel-search-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  text-transform: uppercase;
  border: none;
  padding: 16px 0;
  margin-top: 54px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotel-search-button:hover {
  background-color: var(--blue-social-hover);
}

.hotel-search-button:focus { /* при нажатии появляется border, норм ли это? */
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--blue-social-focus);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--white-footer);
}

.footer-contacts {
  box-sizing: border-box;
  padding-top: 23px;
  padding-left: 74px;
  line-height: 26px;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts p:last-child {
  padding-top: 9px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-copyright {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  padding-top: 5px;
  padding-right: 75px;
  color: var(--black-copyright);
}

.footer-copyright-link {
  padding-left: 8px;
}

.footer-copyright-link:hover path {
  fill: var(--basic-blue);
}

.footer-copyright-link:focus path {
  fill: var(--gray-copyright-focus);
}

.footer-social {
  padding-top: 13px;
  padding-right: 40px;
}

.footer-social ul {
  list-style: none;
}

.social-buttons-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.social-button::before {
  position: absolute;
  content: "";
}

.social-button-twitter::before {
  width: 17px;
  height: 17px;
  background-image: url(../img/twitter.svg);
}

.social-button-facebook::before {
  width: 12px;
  height: 22px;
  background-image: url(../img/fb-icon.svg);
}

.social-button-youtube::before {
  width: 20px;
  height: 16px;
  background-image: url(../img/youtube.svg);
}

.social-button:hover {
  background-color: var(--blue-social-hover);
}

.social-button:focus {
  background-color: var(--blue-social-focus);
}

.social-button:focus::before {
  opacity: 0.3;
}

/* страница hotels */

.current-page a {
  color: var(--basic-brown);
}

.sorted-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  row-gap: 1px;
}

.sorted-item {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 71px;
  border-bottom: 1px solid var(--border-bottom-gray);
}

.sorted-item-hotel-photo {
  width: 135px;
  height: 90px;
  padding-top: 7px;
}

.sorted-item-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.sorted-item-information-block {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  text-align: left;
  margin-left: 29px;
  margin-right: auto;
}

.sorted-item-title a {
  color: var(--basic-black);
}

.sorted-item-title a:hover {
  color: var(--basic-blue);
}

.sorted-item-title a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sorted-item-information-block p {
  margin: 0;
  padding-top: 7px;
  color: var(--light-black);
}

.sorted-item-information-block a {
  margin-top: 16px;
}

.sorted-item-right-info-block {
  margin-left: 6px;
}

.sorted-item-details {
  box-sizing: border-box;
  padding: 3px 0;
  display: block;
  width: 110px;
  text-align: center;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.sorted-item-details:hover {
  background-color: var(--blue-social-hover);
}

.sorted-item-details:focus {
  background-color: var(--blue-social-focus);
  color: rgba(255, 255, 255, 0.3);
}

.sorted-item-to-book {
  box-sizing: border-box;
  padding: 3px 0;
  display: block;
  width: 142px;
  text-align: center;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.sorted-item-to-book:hover {
  background-color: var(--brown-hover);
}

.sorted-item-to-book:focus {
  background-color: var(--brown-focus);
  color: rgba(255, 255, 255, 0.3);
}

.sorted-item-rating-block {
  position: relative;
  display: block;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 2px;
}

.sorted-item-stars {
  width: 19px;
  height: 17px;
  margin: 0;
  margin-left: auto;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.stars-one {
  width: 19px;
}

.stars-two {
  width: 42px;
}

.stars-three {
  width: 66px;
}

.stars-four {
  width: 91px;
}

.stars-five {
  width: 110px;
}

.sorted-item-rate {
  box-sizing: border-box;
  width: 110px;
  height: 27px;
  margin: 0;
  padding-top: 2px;
  color: var(--gray-rating);
  background-color: var(--light-gray);
}

.hotels-main-header {
  display: none;
}

.main-hotels-page {
  display: grid;
  grid-template-rows: 217px 540px;
}

.hotels-sorted-form {
  display: grid;
  grid-template-rows: 1fr 450px;
}

.hotels-filter-form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 72px;
  padding-right: 73px;
  padding-bottom: 31px;
  padding-top: 26px;
  text-align: left;
  color: var(--basic-white);
  background-image: url(../img/hotels-background-photo.jpg);
  background-color: var(--basic-blue);
}

.hotels-filter-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
}

.hotels-filter-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-form fieldset:nth-child(3) {
  margin-left: 118px;
}

.hotels-filter-form fieldset:last-child {
  margin-left: auto;
}

.hotels-filter-form legend {
  font-size: 16px;
}

.hotels-filter-form label {
  font-weight: 400;
  font-size: 14px;
}

.filter-checkbox {
  position: relative;
}

.filter-checkbox label {
  display: block;
  margin-top: 25px;
}

.checkbox-frame-off,
.checkbox-frame-on {
  display: none;
  position: absolute;
  left: -40px;
  top: 0;
  height: 23px;
}

.checkbox-frame-off {
  width: 23px;
}

.checkbox-frame-on {
  width: 27px;
}

/* селекторы вложенностью больше двух, но в критериях написано "сложность селектора оправдана сложностью задачи" */

.filter-input-checkbox:not(:checked) + label > .checkbox-frame-off,
.filter-input-checkbox:checked + label > .checkbox-frame-on {
  display: block;
}

.filter-input-checkbox:focus + label {
  outline: 1px solid var(--basic-white);
  outline-offset: 5px;
}

.filter-input-checkbox:disabled + label > .checkbox-frame-off path,
.filter-input-checkbox:disabled + label > .checkbox-frame-on path {
  fill: var(--disabled-gray);
}

.range-filter button {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  color: var(--basic-white);
  width: 137px;
  padding: 6px 0;
  margin-top: 15px;
  margin-left: 85px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
}

.range-filter button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.range-controls {
  position: relative;
  width: 316px;
  height: 20px;
  padding-top: 20px;
  background-color: transparent;
}

/* чуть ниже opacity мешает .bar быть белым */

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3; 
}

.range-controls .bar {
  width: 262px;
  height: 2px;
  background-color: var(--basic-white);
}

.range-controls .toggle {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--gray-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 253px;
}

.price-controls {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 317px;
  height: 36px;
  margin-top: 11px;
  padding-left: 65px;
  padding-right: 30px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.price-controls::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.price-controls label {
  margin: 0;
  padding: 0;
}

.price-controls input {
  margin: 0;
  padding: 0;
  width: 50px;
  border: none;
  color: var(--basic-white);
  background-color: transparent;
}

.hotels-sorted-form-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 73px;
  padding-top: 27px;
  border-bottom: 1px solid var(--border-bottom-gray);
}

.hotels-sorted-form-header ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.sorting-found {
  line-height: 26px;
  margin: 0;
  margin-top: 2px;
}

.sorting-quantity,
.sorting-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sorting-quantity {
  margin-left: 46px;
  margin-top: 4px;
}

.sorting-link {
  margin-top: 2px;
  margin-right: 32px;
  border-bottom: 1px dashed var(--basic-blue);
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-link:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting-link:focus {
  border-bottom: none;
  color: var(--basic-black);
}

.sorting-link:active {
  color: var(--basic-blue);
}

.sorting-arrow {
  margin-top: 13px;
}

.sorting-arrow-up {
  margin-left: auto;
}

.sorting-arrow-down {
  margin-left: 12px;
}

.sorting-arrow:hover path {
  fill: var(--basic-black);
}

.sorting-arrow:focus path {
  fill: var(--basic-blue);
}

.sorting-arrow:active path {
  fill: var(--basic-blue);
}
